{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Page</title>
    <link rel="stylesheet" media="(min-width: 900px)" href="{% static 'company_page/company_page_1.css' %}">
    <link rel="stylesheet" media="(max-width: 899px) and (min-width: 481px)" href="{% static 'company_page/company_page_2.css' %}">
    <link rel="stylesheet" media="(max-width: 480px)" href="{% static 'company_page/company_page_3.css' %}">
    <script src="{% static 'company_page/company_page.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.5.1-web\css\all.css'%}">
    <link rel="shortcut icon" href="{% static 'company_page/logo.jpg' %}">
</head>
<body style="background-color: rgb(0, 88, 110);">


    <div class="head">

        <span class="greet">You are welcome, <span class="greets">{{request.user}}</span></span>

        <img src="{% static 'home/logo.jpg'%}" alt="" class="logo">

        <div class="log">

            <a href="{% url 'sign_in' %}" class="logs">Sign Out</a>

        </div>
    </div>

    <div class="bussiness">
        <span class="select">Select Bussiness</span>

        <button type="submit" class="add" onclick="display_add()">Add Bussiness</button>

        <div class="add_b" id="add_b">
            <form action="{% url 'add_bussiness' %}" method="post">
                {% csrf_token %}
                <p class="add_text">Add New Bussiness</p>
                <span class="input_name">bussiness name</span>
                <input type="text" name="bussiness" id="" class="input_area" required>
                <span class="input_name first">location</span>
                <input type="text" name="location" id="" class="input_area" required>
                <button type="submit" class="btn">Add</button>

            </form>

            <button class="btn second">cancel</button>
        </div>

        <button type="submit" class="remove" onclick="display_remove()">Remove Bussiness</button>

        <div class="remove_b" id="remove_b">
            <form action="{% url 'remove_bussiness' %}" method="post">
                {% csrf_token %}
                <p class="add_text">Remove Bussiness</p>
                
                <select name="" id="" class="select_b">
                    <option value="" hidden>---- bussiness ----</option>

                    {% for i in bussiness %}

                        <option value="">{{i}}</option>
                
                    {% endfor %}

                </select>

                <button type="submit" class="btn">Remove</button>
                <button class="btn second">cancel</button>

            </form>
        </div>

        <form action="{% url 'company_page' %}" method="post">
            {% csrf_token %}
            <select name="bussiness_location" id="" class="opt" required>
                <option hidden value="">Select a bussiness</option>
                {% for i in bussiness %}

                    <option value="{{i}}">{{i}}</option>
                
                {% endfor %}
            </select>

            <button type="submit" class="open">Open</button>
        </form>
    </div>

    <div class="main_body">

        <div class="vertical_line"></div>

        <div class="balance_sheet">

            <p class="statement1">Balance Sheet for {{request.user}}</p>
            <p class="statement2 under">As at {{time}}</p>

            <div class="label1">
                <span class="label under">Asset</span>
                <span class="figure under">ghs</span>
            </div>

            <div class="label2">
                <span class="label_3 under">Inventory On Hand</span>
                <span class="figure_3 under">ghs</span>
            </div>


            <div class="label3">
                <span class="label under">Asset</span>
                <span class="figure under">ghs</span>
            </div>

            <div class="label4">
                <span class="label_1 under">Retained earnings</span>
                <span class="figure_1 under">ghs</span>

                <span class="label_2 under">Suspense</span>
                <span class="figure_2 under">ghs</span>

            </div>

            <div class="label5">
                <span class="label under">Liabilities</span>
                <span class="figure under">ghs</span>

            </div>

        </div>

        <div class="profit_loss">

            <p class="statement1">Profit and Loss statement for {{request.user}}</p>
            <p class="statement2 under">For the period from ---- to {{time}}</p>

            <div class="label1">

                <span class="label under">Income</span>
                <span class="figure under">ghs</span>

            </div>

            <div class="label2">

                <span class="label_3 under">Inventory - sales</span>
                <span class="figure_3 under">ghs</span>

            </div>

            <div class="label3">

                <span class="label under">Cost</span>
                <span class="figure under">ghs</span>

            </div>

            <div class="label4">

                <span class="label_3 under">Inventory - cost</span>
                <span class="figure_3 under">ghs</span>

            </div>

            <div class="label5">

                <span class="label under">Net profit</span>
                <span class="figure under">ghs</span>

            </div>

        </div>

    </div>


    <div class="tail">

        <div class="tail1">@ 2020-2024</div>

        <div class="social">
            <span class="social1"><i class="fa-brands fa-whatsapp"></i> 0240234163</span>
            <span class="social1"><i class="fa-brands fa-facebook"></i> keepon1</span>
            <span class="social1"><i class="fa-brands fa-instagram"></i> madover_1</span>
            <span class="social1"><i class="fa-brands fa-x-twitter"></i> chris_ jhunia</span>
            <span class="social1"><i class="fa-brands fa-tiktok"></i> keepon_1</span>
        </div>

    </div>
    
</body>
</html>