/* css for home Header*/
.head{
    width: 99%;
    height: 45px;
}

.logo{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    left: 42%;
}

.bars{
    position: absolute;
    top: 15px;
    cursor: pointer;
}

.bar{
    color: white;
    font-size: 4vw;
}

.menu{
    width: 30%;
    color: white;
    position: absolute;
    top: 15px;
    display: none;
    background-color: rgb(0, 88, 110);
}

.times{
    font-size: 4vw;
}

.menus{
    font-size: 5vw;
    display: block;
    padding: 6px;
}

.menus:hover{
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}





.log{
    position: absolute;
    left: 70%;
    top: 15px;
    color: white;
}

.logs{
    padding: 1px;
    color: white;
    font-size: 4vw;
    text-decoration: none;
}

.logs:hover{
    font-style: italic;
    text-decoration: underline;
}


/* css for home Body*/

.body{
    color: white;
}

.header{
    text-align: center;
    font-size: 7vw;
}

.paragraph{
    text-align: center;
    font-size: 4vw;
}

.image{
    width: 60vw;
    height: 60vw;
    border: double white;
    border-radius: 50%;
    margin-left: 17.5%;
}
.left{
    display: none;
}

.right{
    display: none;
}


/* css for home Tail*/

.tail{
    color: white;
    margin-top: 30px;
}

.tail1{
    position: absolute;
    font-size: 4vw;
}

.social{
    position: absolute;
    left: 53%;
}

.social1{
    font-size: 4vw;
}

.social1:hover{
    font-style: italic;
    cursor: pointer;
}